html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #333;
}
.importCont, .exportCont, .itemCont, .buildItemCont{
    display: none;
}
.mainCont{
    display: block;
}
#searchBarCont, #buildAllItems{
    display: flex;
    justify-content: right;
    margin: 20px 0 20px 0;

}
#resetData{
    margin: 20px 0 20px 0;
    color: red;
}